<html>
  <head>
    <title>TO-DO List</title>
  </head>
  <body>
    <h1>Welcome to To-do list</h1>
    <ul>
      <% if (locals.user) {%>
      <li><a href="/profile"><%= user.name%></a></li>
      <li>
        <a href="/sign-out">Sign Out</a>
      </li>
      <% }else{ %>
      <li>
        <a href="/sign-in">Sign In</a>
      </li>
      <li>
        <a href="/sign-up">Sign Up</a>
      </li>
      <% } %>
    </ul>

    <section id="list-container">
      <h3>ToDo App</h3>

      <ul id="task-list-container" type="none">
        <% for(task of tasks){ %>
        <li>
          <p>
            <h5><%= task.content %></h5>
            <small><%= task.category %> <%= task.date %></small>
            <a href="/profile/delete/<%= task._id %>"><button>Completed</button></a>
          </p>
        </li>
        <% } %>
      </ul>
      <form action="/profile/create" id="new-work-form" method="POST">
        <label for="content">Description</label>
        <br />
        <textarea
          name="content"
          rows="2"
          cols="30"
          placeholder="What you want to do..."
        ></textarea>
        <br />
        <label for="category">Category</label>
        <br />
        <select name="category">
          <option value="other">Choose the category</option>
          <option value="personal">Personal</option>
          <option value="work">Work</option>
          <option value="college">College</option>
          <option value="other">Other</option>
        </select>
        <br />
        <label for="date">Due date</label>
        <br />
        <input type="date" name="date" />

        <br /><br />
        <input type="submit" value="Add Task" />
      </form>
    </section>
  </body>
</html>
